<ion-content style="padding-left: 4 vw; padding-right: 4vw;" scroll-y="false">


  <ion-row style=" width: 100%; text-align: center; padding-top: 30%;">
    <ion-col size="12">
      <img style="width: 35vw;" src="./assets/img/logo.png" alt="">
    </ion-col>
  </ion-row>

  <ion-grid fixed style="padding-right: 10vw; padding-left: 10vw;">
    <form [formGroup]="inicioSesion">
      <ion-item lines="none" style=" padding-top: 10%; border-bottom: 1px solid black">
        <ion-label position="floating" style="  color: black;">E-mail</ion-label>
        <ion-input formControlName="correo" type="text"></ion-input>
        <ion-icon style="color: black;" name="mail" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines="none" style="padding-top: 5%; border-bottom: 1px solid black">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <ion-icon style="color: black;" name="lock-closed" slot="start"></ion-icon>
      </ion-item>

      <ion-row style="padding-top: 8px; ">
        <ion-col size="12">
          <ion-label style="float: right;  color:black;">¿Did you forget your password?</ion-label>
        </ion-col>
      </ion-row>
    </form>
    <ion-row style="text-align: center; padding-top: 20px;  ">
      <ion-col size="12">
        <ion-button (click)="formularioInicio()" style="--background: red; font-weight: bold; " expand="full"
          shape="round">Login
        </ion-button>
      </ion-col>
    </ion-row>

    <br>

    <h2>
      <span>
        OR
      </span>
    </h2>

    <ion-row style="text-align: center; padding-top: 3%;">
      <ion-col size="12">
        <i style="font-size: 250%; color: #3b5998;" class="fab fa-facebook"></i>
        <i style="  margin-left: 3%; font-size: 250%; color: #dd4b39;" class="fab fa-google-plus"></i>
      </ion-col>
    </ion-row>


  </ion-grid>



  <!-- <ion-row style=" text-align: center; padding-top: 3vh; margin-left: 10vw; margin-right: 10vw; " >
      <ion-col size="12">
        <i  style="font-size: 250%;" class="fas fa-sign-out-alt"></i>
      </ion-col>
    </ion-row> -->
  <!-- <ion-row style=" top: 92vh; position: fixed; margin-left: 10vw; margin-right: 10vw; ">
    <ion-col size="12">
      <ion-label style="font-size: 1em; opacity: 0.8;  color:black;">
        © 2020 StuffDevSolutions.
      </ion-label>
    </ion-col> 
  </ion-row> -->
</ion-content>