<ion-tabs>

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="menu">
      <i  style="font-size: 220%;" class="fas fa-bars"></i>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <i  style="font-size: 220%;" class="fas fa-bell"></i>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <i style="font-size: 220%;" class="fas fa-home"></i>
    </ion-tab-button>

    <ion-tab-button tab="visitas-reservaciones">
      <i style="font-size: 220%;" class="fas fa-car-side"></i>
      <!-- <img  src="./assets/icon/car-viajes.png" style="width: 47%;" alt=""> -->
    </ion-tab-button>
    <ion-tab-button  tab="perfil">
      <i style="font-size: 220%;" class="fas fa-user"></i>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
