.im-class {
    width: 100vw;
    height: 25vh
}

.tex-img {
    position: relative;
    bottom:34px;
    color:#fff;
    background-color:rgb(0, 0, 0, 0.5);
    padding:2px 10px;
    font-size: 13pt;
    font-weight:bold;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }